<!DOCTYPE html>
<html class="htmll"><head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Msg.Dashboard | Made with love ❤ by K.A.A</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }
        </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="animate.min.css" type="text/css">
        <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="jquery-3.1.1.min.js" ></script>
        <script type="text/javascript" src="jquery.cookie.js" ></script>

    <script type="text/javascript">
      
      $(document).ready(function(){

var _pass = prompt("_geçiş için parola ?", "");

if(_pass == undefined || _pass == ""){
    _pass = "0";
}

$.get( "/check_pass/" + _pass, function(data) {
     _ps = data._success_X || undefined;

     if(_ps == undefined){
        _pass = false;
        $(".htmll").remove();
       var socket = undefined;

     }else{

        _pass_ = true;
        var socket = io.connect();

     }

        console.log(socket);

            var getTimestamp = function(timestamp) {

                        var d           = timestamp != undefined ? new Date(timestamp) : new Date(),
                            date        = d.toISOString().slice(0,10),
                            time        = d.toTimeString().slice(0,8),
                            timestamp   = (date + " " + time).trim();

                        return timestamp;

                        }

            var _sendable = false;
            var _messages_container = $("#__messages_container");
            var _s_tbox = $("#___send");
            var __newuser_name = $("#__newuser_name");
            var __newuser_submit_btn = $("#_submit_newname");
            var __hiding_after_submit = $(".__hiding_after");

             var _1mn_isset = $.cookie("_user_name") || undefined;

             if(_1mn_isset !== undefined){
                socket.emit("new user", {"user_name": _1mn_isset})
                _messages_container.removeClass("hide");
                __hiding_after_submit.addClass("hide");
            }

            __newuser_name.focus();         

            if(_sendable == false){
                var _mn_isset = $.cookie("_user_name") || undefined;

                if(_mn_isset == undefined){
                    __newuser_name.focus();         

                    __newuser_submit_btn.click(function(){
                    __newuser_name.removeClass("animated shake");


                   var _nun = __newuser_name.val();
                   if(_nun !== "" && _nun.length > 0 && _nun !== " "){

                        _sendable = true;
                        $.cookie('_user_name', _nun, { expires: 1, path: $(location).attr('hostname') });
                        socket.emit("new user", {"user_name": _mn_isset})

                        __hiding_after_submit.addClass("animated hinge");
                        __hiding_after_submit.addClass("hide");

                        _messages_container.removeClass("hide");
                        _messages_container.addClass("animated bounceInLeft");
                   }else{
                        __newuser_name[0].value = "";
                        __newuser_name.focus();
                        __newuser_name.addClass("animated shake");

                   }

                });

                }else{
                    _sendable = true;
                }
            }


        $(window).keydown(function(e){
          if(e.which == "13"){
            if(!_s_tbox.hasClass("focused")){
              _s_tbox.focus();
              _s_tbox.addClass("focused");
            }else{
              _s_tbox.removeClass("focused");
              _s_tbox.blur();
            }
          }
        });

        var typing = false;
        var timeout = undefined;



        _s_tbox.keydown(function(e){

          if(e.which == "13"){return false;}

            if(_sendable == true){

                var _tuser = $.cookie("_user_name") || undefined;


                function timeoutFunction(){
                  typing = false;
                    socket.emit("_istyping",_tuser);
                }

              if(typing == false) {
                typing = true
                    socket.emit("_istyping",_tuser);
                timeout = setTimeout(timeoutFunction, 5000);
              } else {
                clearTimeout(timeout);
                timeout = setTimeout(timeoutFunction, 1000);

              }

            }

        });

        socket.on("_utyping", function(_username){
            var u_typing = $("#u_typing");
            var u_name = $("#u_name");

            u_typing.removeClass("hide");
            u_name[0].textContent = _username;

            setTimeout(function(){u_typing.addClass("hide")},2000);
        });

 $('#uploadFile').bind('change', function(e){
    var data = e.originalEvent.target.files[0];
    _fileread(data);      
});

function _fileread(data){

    var reader = new FileReader();
    reader.onload = function(evt){
        var msg ={};
        msg.file = evt.target.result;
        msg.fileName = data.name;
        socket.emit('base64 file', msg);
    };
    reader.readAsDataURL(data);
}

socket.on("base64 file", function(image) {
     if(image)
     {
         console.log(" image: from client side");
         
        var _msg = '<li class="animated flipInX"><img style="width:200px;" src="'+image.file+'"></li>';
                                    $( $.parseHTML(_msg)).appendTo(___msgs);
                                
                                $("#___msgs").animate({"scrollTop": $("#___msgs").scrollTop() + 120});
        // what can we do here to serve the image onto an img tag?
     }

 });


        _s_tbox.keydown(function(e){
          if(e.which == "13"){

                    if(_sendable == false){
                        var _msg = '<li class="animated bounceInLeft"><span style="color: red;margin-right: 10px;font-weight: bolder;">SERVER-MESSAGE:</span><span style="color: black;">Username or nick not entered [Message can\'t sending]</span></li>';
                                    $( $.parseHTML(_msg)).appendTo(___msgs);
                                    _s_tbox[0].value = "";

                                    $("#___msgs").animate({"scrollTop": $("#___msgs").scrollTop() + 120});

                                    //alert("Error!");
                    }

            var _snd_val = _s_tbox.val();

            if(_snd_val && _snd_val.length >= 1 && _sendable){

                    socket.emit("_new_message",{"_txt": _snd_val, "_uid": $.cookie("_user_name"), "_ts": getTimestamp()});
                     _s_tbox[0].value = "";

                          
            }
          }
        });

        /*var refresh = window.setInterval(function(){
            var _mn_isset = $.cookie("_user_name") || undefined;

                if(_mn_isset !== undefined){

                        socket.emit("new user", {"user_name": _mn_isset})

                }

        },2000);*/



        socket.on("_ouser", function(data){
            /*var _ouser_count = $("#_ouser");
            _ouser_count[0].textContent = data.count;*/
        });

        socket.on("count", function(data){
            var _ouser_count = $("#_ouser");
            _ouser_count[0].textContent = data.number;
        });

        socket.on("_message_send", function(data){

            if(data._uid !== $.cookie("_user_name")){
                document.getElementById('_ns').play();
            }

            var _msg = '<li _messager_id="'+data._uid+'" class="cn animated flipInX"><span style="color: #5936bf;margin-right: 10px;font-weight: bolder;">'+data._uid+':</span><span style="color: #616161;">'+data._txt+'</span></li>';
                                    $( $.parseHTML(_msg)).appendTo(___msgs);
                                
                                $("#___msgs").animate({"scrollTop": $("#___msgs").scrollTop() + 120});

        });

});

    
      });
    </script>

    <style>
    @font-face {
      font-family: 'webfont0';
      src: url('Rough Comic Outlines.ttf') format('truetype');
    }
    @font-face {
  font-family: 'webfont1';
  src: url('CFOldSchoolPERSONALUSE-Reg.ttf')  format('truetype');
}
   ::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: #e8e8e8;
}
::-webkit-scrollbar-corner {
    background: #feffff;
}
::-webkit-scrollbar-thumb {
    background: #6c42e6;
    -webkit-border-radius: 0px;
    /* -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75); */
}
#__newuser_name::-webkit-input-placeholder {
  color: whitesmoke;
}
.hide{display: none;}
    #block{background-color: rgb(70, 225, 205);font-family:arial,sans-serif}
    *{margin: 0px;padding: 0px;outline:none;-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}button:active{
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.2),0 1px 2px rgba(0,0,0,.1) !important;
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.2),0 1px 2px rgba(0,0,0,.1) !important;
  box-shadow: inset 0 2px 4px rgba(0,0,0,.2),0 1px 2px rgba(0,0,0,.1) !important;
}.wrapper {   
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;margin-top: 52px;
}


#___msgs > li {
    padding: 5px;font-size: 14px;
}
._msg_usn{ color: #414141;
    margin-right: 10px;
    font-weight: bolder;
    /* background-color: white; */}
    ._msg_txt{color: #616161;}

.cn{color:#6c42e6;}

.c1{color:#F95353;}
.c2{color:#F96E53;}
.c3{color:#F98853;}
.c4{color:#F9A953;}
.c5{color:#F9CB53;}
.c6{color:#F9E553;}
.c7{color:#D8F953;}
.c8{color:#BDF953;}
.c9{color:#B0F953;}
.c10{color:#88F953;}
.c11{color:#53F96E;}
.c12{color:#53F9A3;}
.c13{color:#53F9CB;}
.c14{color:#53DEF9;}
.c15{color:#53C4F9;}
.c16{color:#539CF9;}
.c17{color:#5381F9;}
.c18{color:#7453F9;}
.c19{color:#F953C4;}
.c20{color:#F953F9;}
.c21{color:#F953BD;}
.c22{color:#F953A3;}
.c23{color:#F9537B;}
.c24{color:#F95360;}

ul#___msgs{overflow-y: scroll;
    overflow-x: hidden;float: left;
    width: 100%;
    max-height: 360px;
     list-style: none;}
._container{
    height:auto;
    box-shadow: 0px 0px 0px #717171;
    margin: 10px;
    padding: 10px;
    border-radius: 2px;
    background: none;}
.focused, #___send:focus{transition : all .3s linear ;box-shadow: 0px 0px 1px #444 !important;}
#___send{    box-shadow: 0px 0px 1px #b5b5b5;
    margin-bottom: 5px;
    width: 100%;
    color: #565656;
    outline: none;
    font-size: 14px;
    padding: 9px;
    border:none;font-family: cursive;

  }
  ._header{text-align: center;
    padding: 10px;
    /* box-shadow: 0px 1px 0px; */
    /* border-bottom: 2px dashed #8a176c; */
    color: #feffff;
    /* text-shadow: 0px 0px 1px; */
    font-size: 12px;
    margin-bottom: 5px;
    font-family: webfont0;
}

    </style>
</head>
<body id="block" style="
    background: #6c42e6;
">
<div class="wrapper" style="
    max-width: 800px;
"><div class="_container animated bounceInLeft" style="">
  <div class="_header" >/ Msg.Dashboard</div>
    <div class="__hiding_after"><div style="
    padding: 10px;
    /* top: -27px; */
    /* z-index: 99999999; */
    position: relative;
    width: 100%;
            "><input id="__newuser_name" style="
    box-shadow: 0px 0px 1px #b5b5b5;
    margin-bottom: 5px;
    width: 100%;
    color: #ffffff;
    outline: none;
    border: none;
    border-bottom: 1px dashed #feffff;
    font-size: 16px;
    background:none;
    padding: 16px;
    /* padding-left: 28px; */
    padding-right: 32px;
    /* border: none; */
    " placeholder="Bir nick gir :)">
<button id="_submit_newname" style="
    position: absolute;
    top: 16px;
    right: 10px;
    color: white;
    border: none;
    padding: 4px 8px;
    background: none;
    font-size: 22px;
    /* font-weight: bolder; */
">▷</button></div></div>
<div id="__messages_container" class="hide" style="
   position:relative; height: 480px;
    background: white;
    padding: 5px;
    /* border-top: 2px dashed; */
            "><div style="
    position: absolute;
    left: 10px;
    top: -100px;
"></div><div><div style="
    padding: 5px;
    width: 100%;
    float: left;
    margin-bottom: 5px;
    /* text-align: center; */
    border-bottom: 1px solid #6c42e6;
    "><div style="
    /* position: absolute; */
    left: 10px;
    float: left;
    top: -100px;
"><button id="_ouser" style="
    border: 2px solid #6c42e6;
    color: #6c42e6;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-bottom: 5px;
    text-align: center;
    text-shadow: 0px 0px;
    background: none;
  ">0</button></div><div><input id="uploadFile" type="file" name="" style="
    width: 82px;
    float: right;
  "></div></div><ul id="___msgs">

</ul></div><div style="
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 10px;
"><div style="
    margin-right: 10px;
"><div id="u_typing" class="hide animated pulse infinite" style="
    margin-bottom: 4px;
    font-style: oblique;
    margin-left: 4px;float:right;
"><span style="
    font-size: 14px;
    color: #5936bf;
    font-family: cursive;
    /* padding-bottom: 4px; */
             "><span id="u_name" style="
    font-weight: bolder;
">___</span> yazıyor...</span></div><input id="___send" placeholder="Birşeyler yaz..." style=""></div></div></div></div>
  
  <div style="text-align: center;padding: 10px;color: #333333;font-family: webfont1;">
    <span>Made with love <span style="color:red;">❤</span> by K.A.A</span>
  </div>
</div>
<div class="_au" style="display:none;position:absolute;">
    <audio preload id="_ns">
        <source src="sounds/notification.mp3"></source>
        <source src="sounds/notification.ogg"></source>
    </audio>
</div>
</body></html>